/*Стили places*/
  
.places{
    max-width:984px;
    margin:0 auto 102px;
}

.place{
    margin-bottom: 72px;

}

.place:last-of-type{
    margin-bottom: 0;
}

.place__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    width: calc((100% - 40px) / 2);
    margin: 0 40px 60px 0;
    display: inline-block;
}

.place__website{
  display: inline-block;
  width: 282px;
}

.place__url-heading{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin-top:0;
    text-transform: uppercase;
}

.place__url{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color:#fff;
    margin:0;
}

.place__url:hover{
    opacity: 0.7;
}

.place__image{
    width:460px;
    margin-right: 40px;
}

.place__paragraph{
    margin-top: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.place__paragraph-place{
    display: inline-block;
    width: 474px;
    vertical-align: top;
}



@media screen and (min-width: 1280px) and (max-width: 1440px) {


}



@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places{
        max-width:928px;
        margin:0 auto 102px;
    }

    .place__title{
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 65px;
        width: calc((100% - 32px) / 2);
        margin: 0 40px 60px 0;
        display: inline-block;
    }

    .place__paragraph-place{
        width: 423px;
    }
    
    .place__image{
        width: calc((100% - 32px) / 2);
        margin-right: 32px;
    }




}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    .places{
        margin:0 24px 48px;
    }

    .place{
        margin-bottom: 48px;
    }

    .place:last-of-type{
        margin-bottom: 0;
    
    }

    .place__title{
        font-size: 42px;
        line-height: 46px;
        width: calc((100% - 33px) / 2);
        margin: 0 28px 40px 0;
        display: inline-block;
    }

    .place__image{
        width: calc((100% - 33px) / 2);
        margin-right: 28px;
    }

    .place__paragraph{
        font-size: 16px;
        line-height: 27px;
    }

    .place__paragraph-place{
        width: calc((100% - 33px) / 2);

    }

}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .places{
        margin:0 0 64px;
    }

    .place{
        margin-bottom: 48px;
    }

    .place__title{
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 32px);
        margin: 0 16px 32px;
        display: inline-block;
    }

    .place__website{
        display: none;
      }

    .place__image{
        width: 100%;
        margin-right: 0px;
    }

    .place__paragraph{
        font-size: 16px;
        line-height: 27px;
    }

    .place__paragraph-place{
        width: calc(100% - 32px);
        margin: 24px 16px 0px;
    }

}

@media screen  and (max-width: 374px) {

    .places{
        margin:0 0 64px;
    }

    .place{
        margin-bottom: 48px;
    }

    .place__title{
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 32px);
        margin: 0 16px 32px;
        display: inline-block;
    }

    .place__website{
        display: none;
      }

    .place__image{
        width: 100%;
        margin-right: 0px;
    }

    .place__paragraph{
        font-size: 16px;
        line-height: 169.43%;
    }

    .place__paragraph-place{
        width: calc(100% - 32px);
        margin: 24px 16px 0px;
    }



}