@import url(../fonts/fonts.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/menu-grid/menu-grid.css);
@import url(../blocks/shop-grid/shop-grid.css);
@import url(../blocks/privacy-policy/privacy-policy.css);
@import url(../blocks/update/update.css);
.page {
    width: 100%;
    background-color: #fff;
}

.content-area {
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #000;
}

.main {
    min-height: calc(100vh - 60px - 141px);
}


/*
* {
    border: red 1px solid;
}
*/