 /*Стили header*/
 
 .header {
     min-height: 60px;
     max-width: 1100px;
     /*padding-top: 30px;
     padding-bottom: 48px;*/
     margin: 0px auto;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     /*  justify-content: flex-end; */
     align-items: center;
 }
 
 .header__line {
     min-height: 60px;
     width: 100%;
     background-color: black;
 }
 
 .header__logo {
     width: 100px;
     height: 52px;
     margin-right: auto;
 }
 
 .header__menu {
     font-family: "GothamCond-Bold", Arial, sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 23px;
     text-decoration: none;
     color: #fff;
     margin-left: 18px;
 }
 
 .header__menu_active {
     text-decoration-line: underline;
 }
 
 .header__menu:hover {
     opacity: 0.7;
     text-decoration-line: underline;
 }
 /*
 @media screen and (min-width: 1280px) and (max-width: 1440px) {
     .header {
     }
 }
 
 @media screen and (min-width: 1024px) and (max-width: 1279px) {
     .header {
     }
 }
 
 @media screen and (min-width: 768px) and (max-width: 1023px) {
     .header {
     }
 }
 
 @media screen and (min-width: 375px) and (max-width: 767px) {
     .header {
     }
     .header__logo {
         width: 142px;
         height: 42px;
     }
     .header__menu {
         font-size: 18px;
         line-height: 17px;
     }
 }
 */
 
 @media screen and (max-width: 374px) {
     .header {
         min-height: 60px;
         max-width: 1100px;
         /*padding-top: 30px;
        padding-bottom: 48px;*/
         margin: 0px auto;
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         /*  justify-content: flex-end; */
         align-items: center;
     }
     .header__logo {
         width: 100px;
         height: 52px;
         margin: 0px auto;
     }
     .header__menu {
         font-size: 30px;
         line-height: 25px;
         margin-bottom: 10px;
     }
 }