.privacy-policy__title {
    font-size: 34px;
    /*font-family: 'GothamPro-Bold', Arial, sans-serif;*/
    font-family: "GothamPro-Bold", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 50px;
    /*padding-top: 34px;*/
    /*margin: 0 auto;*/
    margin-bottom: 3px;
    text-align: left;
    /*position: absolute;
    border: red 1px solid;*/
}

.privacy-policy__container {
    /*display: flex;
    grid-template-columns: 286px 286px 286px;
    grid-template-rows: 286px 286px;
    grid-gap: 25px;*/
    margin: 0 auto 90px;
    max-width: 908px;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
}

.privacy-policy__subtitle {
    font-size: 24px;
    /*font-family: 'GothamPro-Bold', Arial, sans-serif;*/
    font-family: "GothamPro-Bold", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 36px;
    /*padding-top: 34px;*/
    /*margin: 0 auto;*/
    margin-bottom: 3px;
    text-align: left;
    /*position: absolute;
    border: red 1px solid;*/
}

.privacy-policy__content {
    font-size: 16px;
    /*font-family: 'GothamPro', Arial, sans-serif;*/
    font-family: "GothamPro", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 25px;
    /*padding-top: 34px;*/
    margin-bottom: 3px;
    text-align: justify;
    /*position: absolute;
    border: red 1px solid;*/
}

.privacy-policy__indents {
    padding-left: 40px;
}

@media screen and (max-width: 1023px) {
    .privacy-policy__container {
        margin: 0 10px 90px;
        max-width: 908px;
    }
    .privacy-policy__indents {
        padding-left: 0px;
    }
}