/*Стили intro*/
  
.intro{
    max-width:984px;
    margin:0 auto 102px;
}

.intro__title{
    font-size:54px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight:900;
    font-style:normal;
    line-height:59px;
    margin: 0 auto 45px;

}

.intro__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin: 0 auto 35px;
}

.intro__content-row{
    display: flex;
    justify-content: space-between;
}

.intro__text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 683px;
    margin:0 18px 35px 0;
}

.intro__text-info{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    width: 283px;
    margin:0;
    padding:0;
    list-style: none;   
    }

.intro__text-list{
    margin:0;
    padding:0;
    list-style: none;    
}

.intro__list-list-item{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}


@media screen and (min-width: 1280px) and (max-width: 1440px) {


}



@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro{
        max-width:928px;
        margin:0 auto 102px;
    }


}


@media screen and (min-width: 768px) and (max-width: 1023px) {


.intro{
    margin:0 24px 102px;
}

.intro__title{
    font-size: 54px;
    line-height: 59px;
    margin: 0 auto 32px;

}

.intro__text{
    margin: 0 auto 32px;
    width: 100%;
}

.intro__text-list{
    font-size: 13px;
    line-height: 20px;
    
    margin:0 auto 0;
    padding:0;
 
}


}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .intro{
        margin:0 16px 64px;
    }
    
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 32px;
    
    }
    
    .intro__text{
        font-size: 16px;
        line-height: 27px;
        margin: 0 auto 32px;
        width: 100%;
    }
    
    .intro__text-list{
        font-size: 12px;
        line-height: 19px;
        
        margin:0 auto 0;
        padding:0;
     
    }
    
    .intro__list-list-item{
        font-size: 12px;
        line-height: 19px;
    }


}

@media screen  and (max-width: 374px) {

    .intro{
        margin:0 16px 64px;
    }
    
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 32px;
    
    }
    
    .intro__text{
        font-size: 16px;
        line-height: 169.43%;
        margin: 0 auto 32px;
        width: 100%;
    }
    
    .intro__text-list{
        font-size: 12px;
        line-height: 19px;
        
        margin:0 auto 0;
        padding:0;
     
    }
    
    
    .intro__list-list-item{
        font-size: 12px;
        line-height: 19px;
    }



}