
  
 .video{
    margin:0 128px 102px;
}

.video__content-title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    max-width:800px;
    margin: 0 auto 48px;
}

.content-subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    max-width:640px;
    margin: 0 auto 72px;
}

.video__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
}

.video__cover{
    position: absolute;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.4;
    width:100%;
    height:100%;
    border-radius: 5px;
}

.video__item{
    width: calc((100% - 18px) / 2 );
    padding-bottom: 25.4%;
 /*   opacity: 0.5;*/
    border-radius: 5px;
    position: relative;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.video__item_kamchatka{
    background-image: url(../../../images/video/Image1.jpg);
}

.video__item_observatory{
    background-image: url(../../../images/video/Image2.jpg);
}

.video__icon{
    position: absolute;
    top: 30px;
    left: 30px;
    width:41px;
    height:41px;
}

.video__duration{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    position: absolute;
    bottom: 146px;
    left: 30px;
    margin:0;
}

.video__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    position: absolute;
    bottom: 61px;
    left: 30px;
    margin:0;
    width: 322px;
}

.video__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin:0;
    width: 322px;
}


@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .video{
        margin:0 48px 102px;
    }

}



@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video{
        margin:0 48px 102px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video{
        margin:0 24px 102px;
    }

    .video__content-title{
        font-size: 42px;
        line-height: 46px;
        margin: 0 auto 24px;
        width: 600px;
    }
    
    .content-subtitle{
        font-size: 24px;
        line-height: 35px;
        margin: 0 auto 56px;
        width: 600px;
    }

    .video__icon{
        position: absolute;
        top: 24px;
        left: 24px;
        width:41px;
        height:41px;
    }
    
    .video__duration{
        bottom: 100px;
        left: 24px;
    }
    
    .video__title{

        font-size: 24px;
        line-height: 26px;
        bottom: 45px;
        left: 24px;
        margin:0;
        width: 300px;
    }
    
    .video__subtitle{
        font-size: 14px;
        line-height: 15px;
        bottom: 24px;
        left: 24px;
        margin:0;
        width: 300px;
    }






}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .video{
        margin:0 16px 64px;
    }

    .video__content-title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
    
    .content-subtitle{
        font-size: 16px;
        line-height: 23px;
        margin: 0 auto 24px;
    }

    .video__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto 0;

    }
    



    .video__item{

        width: 100%;
        padding-bottom: 58%;
        margin-bottom:8px;
    }



    .video__icon{
        position: absolute;
        top: 24px;
        left: 24px;
        width:41px;
        height:41px;
    }
    
    .video__duration{
        bottom: 110px;
        left: 24px;
    }
    
    .video__title{

        font-size: 24px;
        line-height: 26px;
        bottom: 45px;
        left: 24px;
        margin:0;
        width: 300px;
    }
    
    .video__subtitle{
        font-size: 14px;
        line-height: 15px;
        bottom: 24px;
        left: 24px;
        margin:0;
        width: 300px;
    }


}

@media screen  and (max-width: 374px) {

    .video{
        margin:0 16px 64px;
    }

    .video__content-title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
    
    .content-subtitle{
        font-size: 16px;
        line-height: 23px;
        margin: 0 16px 24px;
    }

    .video__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto 0;
    }
    
    .video__item{
        width: 100%;
        padding-bottom: 66%;
        margin-bottom:8px;
    }



    .video__icon{
        position: absolute;
        top: 16px;
        left: 16px;
        width:41px;
        height:41px;
    }
    
    .video__duration{
        bottom: 100px;
        left: 16px;
    }
    
    .video__title{

        font-size: 24px;
        line-height: 26px;
        bottom: 36px;
        left: 16px;
        margin:0;
        width: 258px;
    }
    
    .video__subtitle{
        font-size: 14px;
        line-height: 15px;
        bottom: 16px;
        left: 16px;
        margin:0;
        width: 258px;
    }




}